---
import Layout from '$/layouts/Layout.astro'
import CommandCard from '$/components/CommandCard.astro'
import Category from '$/components/buttons/Category.astro'
import { getCollection } from 'astro:content'
import { translateCategory } from '$/lib/utils'

const commandFiles = await getCollection('commands')

const category = Astro.url.searchParams.get('category')
---

<Layout
  title="Comandos de Git"
  description="Aprende los comandos más importantes de Git con ejemplos prácticos. Una guía completa en español para principiantes y avanzados sobre el control de versiones con Git."
>
  <main class="container mx-auto h-full px-8 py-12">
    <h1
      class="bg-gradient-to-r from-silver-100 to-silver-50 bg-clip-text text-center text-6xl font-bold text-transparent"
    >
      Guía de Comandos
      <span
        class="block bg-gradient-to-r from-violet-500 to-violet-300 bg-clip-text text-transparent"
      >
        Git
      </span>
    </h1>
    <p
      class="animate-gradient mb-12 bg-[linear-gradient(90deg,hsl(259,89%,66%),hsl(0,0%,98%),hsl(259,89%,66%))] bg-[length:200%_auto] bg-clip-text text-center text-transparent ~text-xl/2xl"
    >
      Una guía interactiva de los comandos más útiles de Git
    </p>
    {
      (
        <div class="mb-8 flex flex-wrap justify-center gap-4">
          {[
            ...new Set([
              'all',
              ...commandFiles.map(({ data: { category } }) => category)
            ])
          ].map(category => (
            <Category href={category !== 'all' ? `?category=${category}` : ''}>
              {translateCategory(category)}
            </Category>
          ))}
        </div>
      )
    }
    <div class="flex flex-wrap justify-center gap-4">
      {
        commandFiles
          .filter(
            ({ data: { category: commandCategory } }) =>
              !category || category === 'all' || commandCategory === category
          )
          .map(({ slug, data: { command, description, category } }) => (
            <CommandCard
              href={`/command/${slug}`}
              command={command}
              description={description}
              category={category}
              data-category={category}
            />
          ))
      }
    </div>
  </main>
</Layout>
